.list-overflow-container {
  padding: 0.2rem;
  max-height: 100%;
  width: 100%;
  text-align: center;
  /* border: 1px #DDDDDD solid; */
  border-radius: 4px;
  overflow-y: ellipse;
  overflow-x: hidden;
}

.list-overflow-container ul {
  margin: 0;
  list-style-type: none;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
  margin: 0.2rem;
}
.list-overflow-container li *:hover {
  background-color: #dddddd;
  color: red;
}
.list-overflow-container li *:active {
  background-color: #dddddd;
  color: red;
}
.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color: #2A878C;
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}
